<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
  <link
    rel="stylesheet"
    href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"
  />
</head>
<body>
  <div class="sidebar">
    <ul>
          <a href="/users/{{ user.user_id }}/queries">View Queries</a> |
            <a href="/users/{{ user.user_id }}/responses">View Responses</a>
      <li><a href="/" id="logout-btn">Logout</a></li>
    </ul>
  </div>
  <div class="main-content">
    {% block content %}
      <h1>Welcome to the Dashboard</h1>
      <p>Admim Portal</p>
    {% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
